.header {
  display: flex;
  width: 100vw;
  flex-flow: column nowrap;

}

.header__nav__current-page {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;

}

.login__signin {
  border-top: 2px 0 2px 0 solid grey;
  border-bottom: 2px solid grey;
}

.login__signup {
  border-bottom: 2px solid grey;
}


  
