.header {
  display: flex;
  width: 100vw;
  flex-flow: column nowrap;
  padding-top: 0.5em;

}

.header__nav__home-page {
  // border-top: 2px solid grey;
  // border-bottom: 2px solid grey;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.header__title {
font-size:2em;
border-bottom:1px solid grey
}


  
