@media (min-aspect-ratio: 4/3) {

  
    
  
    
    
    .header {
      /* two lines in a column */
      display: flex;
      flex-flow: column nowrap;
      
    
    }
  
    
    
    
    .header__nav__placeholder {
      
    }
    .header__nav__current-page {
      position: static;
      text-align: center
    }
    .header__nav__connexion {
      
      
      
    }
  }