@use "../../styles/vars";
@use "../../styles/_mixinsDecks";
@use "../../styles/_mixinsModal";

@include mixinsDecks.deckMobile;

.personalizedDecksDisplay {
  margin: auto;
  border: 1px solid black;
}

.personalizedDecksDisplay__title {
  margin: vars.$margin-main;
  font-size: 1.5em;
  color: vars.$color-text;
  background-color: inherit;
}

.personalizedDecksDisplay__decks-container {
  display: flex;
  // flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

// .deck-container,
// .personalDecks__new {
//   display: flex;
//   flex-direction: column;
//   padding: 3em 1em;
//   width: 6em;
//   height: 5em;
//   text-align: center;
// }

.personalDecks__new {
  border: 2px dotted black;
}

.modal {
  @include mixinsModal.modal;
  position: absolute;
  height: 100vw;
}

.modal__content {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
}

h1,
h2 .modal__content {
  margin-bottom: 30px;
  font-size: 2em;
}
