.personalizedDecksDisplay {
  margin: auto;
  border: 1px solid black;
}

.personalizedDecksDisplay__title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.personalizedDecksDisplay__decks-container {
  display: flex;
  // flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.deck-container,
.personalDecks__new {
  padding: 3em 1em;
  border: 2px solid grey;
  width: 5em;
  height: 5em;
  text-align: center;
  margin: auto;
}

.personalDecks__new {
  border: 2px dotted black;
}

.personalDecks__new--modal {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  overflow: auto;
  color: white;
  margin: auto;
}

.modal__content {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
}

h1,
h2 .modal__content {
  margin-bottom: 30px;
  font-size: 2em;
}
