@use "../../styles/vars";
@use "../../styles/_mixinsDecks";
@use "../../styles/_mixinsModal";

@include mixinsDecks.deckMobile;

.userDecks__title {
  margin: vars.$margin-main;
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 2em;
  color: vars.$color-text;

  background-color: inherit;
}

.userDecks__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.personalDecks__new {
  border: 2px dotted black;
}

.modal {
  @include mixinsModal.modal;
  height: 100vh;
  .newDeck__title {
    font-size: 2em;
  }
}

.modal__content {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
}

.deck--new {
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
