@use "../../styles/_vars";
@use "../../styles/_mixinsDecks";
@include mixinsDecks.deckMobile;

@media all and (min-width: 481px) {
  @include mixinsDecks.deckDesktop;
}

body .decks-container .deck {
  font-size: 1.5em;
  line-height: 2;
  justify-content: center;
  align-items: center;
}

body .deckProfile__title a {
  color: vars.$color-text;
}
