@media all and (min-width: 481px) {
  .cardEditor__forms {
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
    //  width: 40em;
    // height: 35em;
    //   margin: auto;
    margin-bottom: 1em;

    & > label {
      margin: 1em;
      flex: 0 1 500px;
    }
  }
  .confirmation--success,
  .confirmation--error {
    width: fit-content;
    font-size: 1.25em;
    padding: 1.5em;
  }
  .cardEditor__title {
    margin-bottom: 0.5em;
  }

  .w-md-editor-toolbar {
    height: 50px !important;
    & > [class="w-md-editor-toolbar-divider"] {
      height: 25px;
    }
  }

  body .w-md-editor-toolbar li > button {
    font-size: 1.2em;
    font-weight: 800;
  }
}
