@media all and (min-width: 481px) {
  .cardEditor__forms {
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
    //  width: 40em;
    // height: 35em;
    //   margin: auto;
    margin-bottom: 1em;

    & > label {
      margin: 1em;
      flex: 0 1 500px;
    }
    &__submission {
      display: flex;
      flex-direction: column;
    }

    &__hotkey {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--horizontal {
        display: inline-flex;
        flex-direction: row;
        padding: 0 2em;
        margin: 0 1em;
      }
    }
    &__firstRender {
      opacity: 1;
      transition: opacity 1s;
    }
  }
  .submission__hotkeys {
    display: flex;
    min-width: 1px;
    min-height: 50px;
    justify-content: center;
  }

  .submission__buttons {
    display: flex;
    justify-content: center;
  }
  body .displayNone {
    display: none;
  }
  .hotkey {
    &__key {
      background-color: lightgrey;

      font-weight: 600;
      padding: 5px;
      border-radius: 5px;
      filter: drop-shadow(-2px -2px 0px black);
      // on ajoute un léger délais pour éviter que l'effet se déclenche quand on le connait déjà
      transition: background-color 0.75s 0.5s, transform 0.75s 0.5s,
        color 0.75s 0.5s;

      &--highlight {
        background-color: lightseagreen;

        color: white;
        filter: drop-shadow(-2px -2px 0px black);
        transform: scale(0.95);
      }
    }
    &__plus {
      font-weight: 600;
      padding: 5px;
    }
  }

  .arrow__icons {
    margin: 10px;
  }

  .confirmation--success,
  .confirmation--error {
    width: fit-content;
    font-size: 1.25em;
    padding: 1.5em;
  }
  .cardEditor__title {
    margin-bottom: 0.5em;
  }

  .w-md-editor-toolbar {
    height: 50px !important;
    & > [class="w-md-editor-toolbar-divider"] {
      height: 25px;
    }
  }

  body .w-md-editor-toolbar li > button {
    font-size: 1.2em;
    font-weight: 800;
  }
  .cardEditor__forms .card {
    margin-left: clamp(20px, 1vw, 120px);
    margin-right: clamp(20px, 1vw, 120px);
  }
}
