@use "../../styles/vars";

.cardEditor__forms {
  display: flex;
  flex-direction: column;
  //   border: 1px solid black;
  //   justify-content: center;
  //   align-items: center;
  //   width: 40em;
  //   height: 11em;
  //   //   margin: auto;
  //   margin-bottom: 1em;
}
.cardEditor__title {
  font-size: 2em;
  margin-top: 1em;
}

.confirmation--success {
  background-color: vars.$color-confirm;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  color: white;
  & a {
    color: vars.$color-main;
  }
}
.confirmation--error {
  background-color: vars.$color-critic;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  color: white;
  & a {
    color: vars.$color-main;
  }
}
