@use "../../styles/vars";

.cardEditor__forms {
  display: flex;
  flex-direction: column;
  & > label {
    margin: 0.5em;
    // flex: 0 1 500px;
  }
  &__hotkey {
    // display: none;
    opacity: 0;
  }
}

.w-md-editor-toolbar {
  height: 50px !important;

  & > ul:first-of-type {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    & > [class="w-md-editor-toolbar-divider"] {
      align-self: center;
    }
  }
}

.cardEditor__title {
  font-size: 2em;
  margin-top: 1em;
}

.confirmation--success {
  background-color: vars.$color-confirm-light;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  color: white;
  & a {
    color: vars.$color-main;
  }
}
.confirmation--error {
  z-index: 10;
  position: relative;
  background-color: vars.$color-critic;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  color: white;
  & a {
    color: vars.$color-main;
  }
}

.setDelay {
  visibility: hidden;
}

.w-md-editor-toolbar li > button {
  color: vars.$color-text-alt;
  font-size: inherit;
}
.cardEditor__forms__hotkey {
  display: none;
}
// cache les boutons : edit code, live code, preview code, full screen
.w-md-editor-toolbar ul:last-of-type {
  display: none;
  /* 
  remplace: 
  [title="Edit code"],
  [title="Live code"],
  [title="Preview code"],
  [title="fullscreen"] {
    display: none;
  }
  */
}

// @keyframes delay {
//   from {
//     visibility: hidden;
//   }
//   to {
//     visibility: visible;
//     transform: scale(1.5);
//   }
// }
.cardEditor__forms .card {
  margin: clamp(8px, 1.25vw, 120px) 10px;
}

// désactive le style "actif" de la toolbar, qui est inutile dans notre cas et qui crée un div fantome qui perturbe le layout
.w-md-editor-toolbar-child.active {
  display: none;
}
