@media all and (min-width: 481px) {
  .cardEditor__forms {
    flex-direction: row;
    min-width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    //  width: 40em;
    // height: 35em;
    //   margin: auto;
    margin-bottom: 1em;
  }
  .confirmation--success,
  .confirmation--error {
    width: fit-content;
    font-size: 1.25em;
    padding: 1.5em;
  }
  .cardEditor__title {
    margin-bottom: 0.5em;
  }
}
