.login__signin {
  border-top: 2px 0 2px 0 solid grey;
  border-bottom: 2px solid grey;
}

.login__signup {
  border-bottom: 2px solid grey;
}

.login__user-profile-link {
  border-top: 2px 0 2px 0 solid grey;
  border-bottom: 2px solid grey;
}

.login__signout {
  border-bottom: 2px solid grey;
}