@use "../../styles/_vars";
@use "../../styles/_mixinsCards";
@use "../../styles/_mixinsModal";

.deck__title {
  text-align: center;
  font-size: 2em;
}

.cardDisplay__modal {
  @include mixinsModal.modal;
}

.cardDisplay__position .card {
  margin: 15px auto;
}
.icon__options {
  color: vars.$color-text-alt;
  margin: 0;
  padding: 5px;
}
.btn__submit {
  background-color: vars.$color-text-alt;
  outline: none;
  color: white;
  font-size: 1.5em;
  margin: 15px;
}

.btn__submit:hover {
  transform: scale(0.95);
}
.btn__options {
  border: none;
  margin: 10px;
}
.btn__options--active {
  color: white;
  background-color: black;
  border: 2px solid gold;
}
.cardDisplay__nextButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDisplay__nextButtons .confirm,
.cardDisplay__nextButtons .warning {
  height: 50%;
}
.cardDisplay__nextButtons .discrete,
.deckOptions__buttons .discrete {
  flex: 0;
  padding: 0.15em;
  margin: 0.5em;
}
.cardDisplay__nextButtons .discrete {
  font-size: 1rem;
}
.deckOptions__buttons .information {
  margin: 0.5em;
  width: 250px;
}

.deckOptions__buttons {
  margin-bottom: 30px;
}

.info-div {
  margin: auto;
  padding: 0.1em;
  width: 50%;
  // border-width: 2px;
  // border-style: solid;
  border: none;
  border-radius: 5px;
  font-size: clamp(1em, 1.2vw, 2em);
  font-weight: 600;
  color: vars.$color-text;
  // background-color: lighten(vars.$color-information, 40%);
  background-color: vars.$color-main-alt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
}

.cardDisplay__nextButtons .warning,
.cardDisplay__nextButtons .confirm {
  // width: 115px;
  height: 60px;
  font-size: inherit;
}
