.deck__title{
  text-align: center;
  font-size:2em;
}
.card {
  border:1px solid black;
  padding:2em 0.25em;
  margin:auto;
  margin-bottom:1em;
  margin-top:1em;
  font-size:2em;
  width: 10em;
  height:2.5em;
  overflow:auto;
}

.cardDisplay__modal {
  position:fixed;
  z-index:1;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow:auto;
  color:white;
}

.cardDisplay__modal h1 {
  font-size:1.5em
}

.cardDisplay__modal h1,h2 {
  margin-bottom:0.5em;
  margin-top:0.5em;

}

.btn__submit {
  background-color: black;
  outline:none;
  color:white;
  font-size:1.5em;
}

.btn__submit:hover {
  transform: scale(0.95);
}
.btn__options {
  border: none;
}
.btn__options--active {
  color:white;
  background-color:black;
  border: 2px solid gold;
}