@use "../../styles/_vars";
@use "../../styles/_mixinsCards";

@media all and (min-width: 481px) {
  @include mixinsCards.cardDesktop;

  .cardDisplay__nextButtons .warning,
  .cardDisplay__nextButtons .confirm {
    // width: 115px;
    height: 60px;
    font-size: 1.2em;
  }
  .cardDisplay__nextButtons .discrete {
    font-size: 2rem;
  }
}
