.main-content__presentation-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.deck-display__title {
  margin-bottom: 1em;
}
.main-content__deck-display {
margin:auto;
border:1px solid black;
}

.main-content h2
{
  font-size:2em;
  padding-bottom:0.5em;
}