@use "../../styles/_vars";
@use "../../styles/mixinsCards";
@use "../../styles/mixinsDecks";

@include mixinsCards.cardMobile;
@include mixinsDecks.deckMobile;
.main-content__presentation-container {
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: justify;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}

.deck-display__title {
  margin-bottom: 1em;
}

.main-content__deck-display {
  margin: auto;
}

.main-content h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}

.main-content__presentation-container .card {
  margin: auto;
  margin-bottom: 10px;
}
