.formContainer {
  margin:auto;
  width:50%;
}
.userForm {
  text-align:center;
}
.form__label {
  display:flex;
  flex-direction:row;
  justify-content: space-between; 
  
}
.label--error {
  display:block;
  color:red;
  text-align:right;
}



:root {
  font-weight: 16px;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 0.8rem;

  font-family: "Roboto", sans-serif;
  color: black;
}


.container {
  display: flex;
  width: 100%;
  height: 80vh;
  padding-top: 10vh;
}

.infoPersoTitle {
  color: black;
  font-family: Arial;
  width: 100%;
  font-size: 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px white;
  text-align: center;
}

.imageSection {
  width: 35%;
  border: 0.5px solid gray;
}

.imageSection img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border: 0.5px solid gray;
  background-color: #f6f8fa;
}

.infoPersoLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoPersoLeft > * {
  margin: 0.6rem 0;
}

.inputRow {
  background-color: white;
  border: 0.5px solid black;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 90%;
  overflow: hidden;
}

.inputRow .inputName {
  border-right: 1px solid grey;
  width: 42%;
  text-align: center;
  vertical-align: bottom;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 60%;
  height: 100%;
  border: none;
  text-align: center;
  vertical-align: bottom;
}

/*---------button----------*/

.login-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

button {
  background-color: #67c1b0;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/*---------Media Query----------*/
@media all and (min-width: 481px) {
  .container {
    display: flex;
    width: 50%;
    height: 50vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .infoPersoLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  button {
    font-size: 17px;
    padding: 8px 20px;
  }
}
