@use "styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&display=swap");
body {
  background-color: vars.$color-bg;
  color: vars.$color-text;
  text-align: center;
  font-family: vars.$font-main;
}

h1,
h2,
h3 {
  color: vars.$color-text-alt;
  font-family: vars.$font-alt;
  background-color: vars.$color-main;
}

a {
  color: vars.$color-text-alt;
}

.App {
}
