@use "styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: vars.$color-bg;
  color: vars.$color-text;
  text-align: center;
  font-family: vars.$font-main;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: red;
}

h1,
h2,
h3 {
  color: vars.$color-text;
  font-family: vars.$font-alt;
}

a {
  color: vars.$color-text-alt;
}

button {
  margin: 1em;
  padding: 1em 2em;
  // border-width: 2px;
  // border-style: solid;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  color: vars.$color-main;
  cursor: pointer;
}
.smallButton {
  margin: 0.5em;
  padding: 0.5em 1em;
  // font-size: 0.6rem;
}
button:hover {
  transform: scale(0.95);
  transition: transform 0.5s;
}

button > a {
  text-decoration: none;
  color: vars.$color-main;
}

@keyframes breath {
  from {
    transform: scale(0.95);
    background-color: vars.$color-warning;
  }
  50% {
    transform: scale(1.05);
    background-color: vars.$color-critic;
  }
  to {
    transform: scale(0.95);
    background-color: vars.$color-warning;
  }
}

@keyframes breath-shadow {
  from {
    filter: drop-shadow(0px 0px 0px vars.$color-warning);
  }
  50% {
    filter: drop-shadow(0px 0px 8px vars.$color-warning);
  }
  to {
    filter: drop-shadow(0px 0px 0px vars.$color-warning);
  }
}

@keyframes breath-shadow-green {
  from {
    filter: drop-shadow(0px 0px 0px vars.$color-confirm);
  }
  50% {
    filter: drop-shadow(0px 0px 8px vars.$color-confirm);
  }
  to {
    filter: drop-shadow(0px 0px 0px vars.$color-confirm);
  }
}
.btn-doubleCheck {
  animation-name: breath;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
a > svg {
  color: vars.$color-text-alt;
}

.confirm,
.confirm > a {
  background-color: vars.$color-confirm;
}

.information,
.information > a {
  background-color: vars.$color-information;
}

.confirm > a > svg {
  color: vars.$color-main;
}

.warning > a > svg {
  color: vars.$color-main;
}

.information-alt,
.information-alt > a {
  color: vars.$color-information;
}

.warning,
.warning > a {
  background-color: vars.$color-warning;
}

.critic,
.critic > a {
  background-color: vars.$color-critic;
}

.buttonLink {
  border: none;
  color: vars.$color-text-alt;
  background-color: inherit;
}
.scaleDown {
  transition: background-color 0.75s 0.5s, transform 0.5s, color 0.75s 0.5s,
    filter 0.75s 0.5s;
  transform: scale(0.95);
  // border: 4px solid vars.$color-text;
  // background-color: vars.$color-confirm-dark;
  filter: drop-shadow(0px 0px 8px vars.$color-warning);
  animation-name: breath-shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.discrete {
  // background-color: vars.$color-main;
  background-color: transparent;
  color: vars.$color-confirm-light;
  font-weight: 800;
  font-size: clamp(2rem, 2vw, 4rem);
  text-transform: uppercase;
}

.keyUp {
  background-color: lightgrey;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  color: black;
  filter: drop-shadow(-2px -2px 0px black);
}
.App {
}
