@use "styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: vars.$color-bg;
  color: vars.$color-text;
  text-align: center;
  font-family: vars.$font-main;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: red;
}

h1,
h2,
h3 {
  color: vars.$color-text-alt;
  font-family: vars.$font-alt;
}

a {
  color: vars.$color-text-alt;
}

button {
  margin: 1em;
  padding: 1em 2em;
  // border-width: 2px;
  // border-style: solid;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  color: vars.$color-main;
}

button:hover {
  transform: scale(0.95);
}

button > a {
  text-decoration: none;
  color: vars.$color-main;
}

.confirm,
.confirm > a {
  background-color: vars.$color-confirm;
}

.information,
.information > a {
  background-color: vars.$color-information;
}

.information-alt,
.information-alt > a {
  color: vars.$color-information;
}

.warning,
.warning > a {
  background-color: vars.$color-warning;
}

.critic,
.critic > a {
  background-color: vars.$color-critic;
}

.App {
}
