.formContainer {
  margin:auto;
  width:50%;
}
.userForm {
  text-align:center;
}
.form__label {
  display:flex;
  flex-direction:row;
  justify-content: space-between; 
  
}
.label--error {
  display:block;
  color:red;
  text-align:right;
}