@use "./vars";

@mixin basicCardMobile {
  box-sizing: border-box;
  padding: 2em 0.25em;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 25px;
  width: 12.5em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  &__content {
    max-width: 10em;
    max-height: 11em;
  }

  &__recto {
    background-color: vars.$color-main;
    .wmde-markdown-color.wmde-markdown-color {
      color: #e67e22;
    }
  }

  &__verso {
    background-color: vars.$color-main-alt;
    .wmde-markdown-color.wmde-markdown-color {
      color: vars.$color-text;
    }
  }
}

@mixin basicCardDesktop {
  min-width: 20.5em;
  max-height: 12em;

  &__content {
    max-width: 20em;
    max-height: 8em;
  }
}

@mixin cardMobile(
  $width: 12.5em,
  $height: 15em,
  $widthContent: 10em,
  $heightContent: 11em
) {
  .card {
    box-sizing: border-box;
    padding: 2em 0.25em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 25px;
    width: $width;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    filter: drop-shadow(8px 8px 8px lighten(black, 50%));
    font-size: 2em;

    // box-shadow: inset 0 0 20px #000000;

    &__recto {
      background-color: vars.$color-main;
      .wmde-markdown-color.wmde-markdown-color {
        color: #e67e22;
      }
    }

    &__verso {
      background-color: vars.$color-main-alt;
      .wmde-markdown-color.wmde-markdown-color {
        color: vars.$color-text;
      }
    }

    &__content {
      max-width: $widthContent;
      max-height: $heightContent;
    }
    .wmde-markdown.wmde-markdown {
      font-size: 0.75em;
      max-height: 11em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: auto;
    }
    .wmde-markdown.wmde-markdown pre code {
      white-space: pre-wrap;
      overflow: auto;
    }
    // .wmde-markdown-color.wmde-markdown-color {
    // }
    .wmde-markdown.wmde-markdown img,
    svg,
    iframe {
      max-width: 9em;
      max-height: 12em;
    }
  }
}

@mixin cardDesktop {
  body .card {
    padding: 1em 0.25em;
    width: 20em;
    height: 12em;
    text-align: center;
    &__content {
      max-width: 20em;
      max-height: 8em;
      padding: 1em;
    }
    .wmde-markdown.wmde-markdown {
      max-height: 8em;
      max-width: 20em;
      font-size: 1em;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: auto;
      flex: 1;
      & h1,
      h2,
      h3 {
        text-align: center;
      }
    }
    .wmde-markdown.wmde-markdown pre code {
      // min-width: 18em;
      padding: 0.2em;
      margin: 0;
    }

    .wmde-markdown.wmde-markdown img,
    svg,
    iframe {
      max-width: 18em;
      max-height: 6em;
    }
  }
}
