@use "./vars";

@mixin cardLookAlike {
  box-sizing: border-box;
  border-radius: 25px;
  filter: drop-shadow(8px 8px 8px lighten(black, 50%));
  padding: 1em 0.5em;
  min-width: 4em;
  min-height: 5em;
  margin: 0.5em;
  &__recto {
    background-color: vars.$color-main;
    color: #e67e22;
  }

  &__verso {
    background-color: vars.$color-main-alt;
    color: vars.$color-text;
  }
}

@mixin cardLookAlikeDesktop {
  min-width: 8em;
  min-height: 4em;
}
@mixin basicCardMobile {
  box-sizing: border-box;
  padding: 2em 0.25em;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 25px;
  width: 12.5em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  &__content {
    max-width: 10em;
    max-height: 11em;
  }

  &__recto {
    background-color: vars.$color-main;
    .wmde-markdown-color.wmde-markdown-color {
      color: #e67e22;
    }
  }

  &__verso {
    background-color: vars.$color-main-alt;
    .wmde-markdown-color.wmde-markdown-color {
      color: vars.$color-text;
    }
  }
}

@mixin basicCardDesktop {
  min-width: 20.5em;
  max-height: 12em;

  &__content {
    max-width: 20em;
    max-height: 8em;
  }
}

@mixin cardMobile() {
  .card {
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 8px lighten(black, 50%));
    border-radius: 25px;
    width: 90vw;
    height: 60vh;
    padding: 1em;
    overflow: auto;
    display: grid;
    align-items: center;
    justify-content: center;

    // box-shadow: inset 0 0 20px #000000;
    &__recto {
      background-color: vars.$color-main;

      .wmde-markdown-color.wmde-markdown-color {
        color: #e67e22;
      }
    }

    &__verso {
      background-color: vars.$color-main-alt;
      .wmde-markdown-color.wmde-markdown-color {
        color: vars.$color-text;
      }
    }

    &__content {
      white-space: pre-wrap;
    }
    .wmde-markdown.wmde-markdown {
      white-space: pre-wrap;

      font-size: clamp(1.5rem, 5vw, 2.25rem);
    }

    .wmde-markdown.wmde-markdown pre,
    .wmde-markdown.wmde-markdown p {
      margin: 0;
      padding: 0;
    }
    .wmde-markdown.wmde-markdown pre code {
      white-space: pre-wrap;
      overflow: auto;
    }
    .wmde-markdown.wmde-markdown li {
      text-align: left;
      margin: -25px;
      padding: 0;
      line-height: 1;
    }
    // .wmde-markdown-color.wmde-markdown-color {
    // }
    .wmde-markdown.wmde-markdown img,
    svg,
    iframe {
      width: clamp(200px, 400px, 470px);
      height: clamp(20%, 80%, 90%);
    }
  }
}

@mixin cardDesktop {
  body .card {
    width: clamp(30%, 90%, 675px);
    height: clamp(20vh, 50vh, 450px);
    padding: 2em;

    &__content {
    }
    .wmde-markdown.wmde-markdown {
      & h1,
      h2,
      h3 {
      }
    }
    .wmde-markdown.wmde-markdown pre code {
      // min-width: 18em;
      padding: 0.2em;
      margin: 0;
    }
    .wmde-markdown.wmde-markdown img,
    svg,
    iframe {
      width: clamp(300px, 500px, 650px);
      height: clamp(200px, 350px, 400px);
    }
  }
}
